@font-face {
  font-family: Print Clearly;
  src: url("./resources/fonts/PrintClearly.TTF");
}
@font-face {
  font-family: Nunito;
  src: url("./resources/fonts/Nunito.ttf");
}

/* General Things */

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0px;
  font-family: Print Clearly;
}

button {
  font-family: Print Clearly;
  border: none;
  text-decoration: none;
  font-size: 33px;
  padding-top: 12px;
  padding-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

/* Header Stuff */

.header {
  display: flex;
  background-color: #C0CEDE;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header-logo {
  width: 150px;
  height: 50px;
}

#searchbar {
  font-family: 'Print Clearly';
  font-size: 25pt;
  width: 200px;
  border: none;
  margin-left: auto;
  margin-right: 60px;
  background-color: #C0CEDE;
  caret-color: white;
}

#searchbar::placeholder {
  color: white;
}

.account-block {
  text-align: center;
  background-image: url('./resources/triangle.png');
  background-position: center;
  background-size: cover;
}

#slogan {
  font-size: 80px;
  color: #C0CEDE;
  padding-top: 20px;
}

#you {
  font-size: 57px;
}

.header-title {
  color: #A8B4C2;
  font-size: 60px;
}

.emphasized-words {
  font-family: Nunito;
  color: #003466;
  font-size: 45px;
}

.primary-button {
  background-color: #003466;
  color: #E0E9F5;
  padding-right: 45px;
  padding-left: 45px;
}

.primary-button:hover {
  background-color: #002140;
}

.secondary-button {
  background-color: #E0E9F5;
  color: #003466;
  font-size: 33px;
  padding-right:30px;
  padding-left: 30px;
}

.secondary-button:hover {
  background-color: #E8EEF8;
}

#log-in-subheader {
  font-size-adjust: 15px;
  color: #003466;
}

#log-in {
  font-family: Nunito, bold;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 25px;
  background: none;
  border: none;
  padding-left: 0;
  color: #003466;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  top: 50px;
  width: 100%;
  height: 100%;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}

.close:hover,
.close:focus {
    color: #003466;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    width: 58%;
    animation-name: animatetop;
    animation-duration: 0.6s;
    text-align: center;
    display: block;
    border: 5px solid #003466;
    margin: 5% auto;
}

.login-text {
  font-family: 'Print Clearly', bold;
  font-size: 25pt;
  width: 400px;
  border: none;
  border: 2px solid #C0CEDE;
  display: block;
  margin: 0 auto;
  caret-color: #C0CEDE;
}

#searchbar, select, textarea {
  color: white;
}

#log-in-header {
  margin-top: 30px;
  margin-bottom: 20px;
}

#email-login, #password-login {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-left: 5px; 
}

.login-text::placeholder {
  color: #C0CEDE;
}

.login-text, select, textarea {
  color: #A8B4C2;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#log-in:visited {
  color: #003466;
}

.home-info {
  display: flex;
  justify-content: center;
  background-color: #E9F2FF;
  padding-bottom: 20px;
  padding-top: 20px;
}

p {
  width: 50%;
}

.answer-text {
  font-family: Print Clearly;
  font-size: 25px;
  color: #003466;
  padding-left: 50px;
}

#info2 {
  padding-top: 0px;
}

#our-techniques {
  color: #C0CEDE;
  font-size: 75px;
  margin: 27px;
}

.cogsci-techniques {
  text-align: center;
}

slider {
  display: block;
  width: 100%;
  height: 70%;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute;
}

slider > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  animation: slide 12s infinite;
  overflow: hidden;
}

slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url('./resources/slideshow-img/field.jpg');
  background-size: cover;
  background-position: center;
}

slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url('./resources/slideshow-img/rain.jpg');
  background-size: cover;
  background-position: center;
}

slide:nth-child(3) {
  animation-delay: 5s;
  background-image: url('./resources/slideshow-img/field.jpg');
  background-size: cover;
  background-position: center;
}

slide:nth-child(4) {
  animation-delay: 8s;
  background-image: url('./resources/slideshow-img/rain.jpg');
  background-size: cover;
  background-position: center;
}

@keyframes slide {
  0% {left: 100%; width: 100%;}
  5% {left: 0%;}
  25% {left: 0%;}
  30% {left: -100%; width: 100%;}
  30.0001% {left: -100%; width: 0%;}
  100% {left: 100%; width: 0%;}
}

.learn-button {
  padding-top: 450px;
  padding-bottom: 40px;
  text-align: center;
}

#start-learning {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 80px;
  padding-right: 80px;
}

.footer {
  background-color: #C0CEDE;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #003466;
}

.footer-link {
  font-family: Nunito;
  font-size: 20px;
  text-align: center;
  font-color: #003466;
  padding-left: 17px;
  padding-right: 17px;
}

#search {
  padding-right: 24px;
}

.footer-social img {
  width: 30px;
  height: 30px;
}




