@font-face {
  font-family: Print Clearly;
  src: url("./resources/fonts/PrintClearly.TTF");
}
@font-face {
  font-family: Nunito;
  src: url("./resources/fonts/Nunito.ttf");
}

@font-face {
  font-family: Nunito Bold;
  src: url("./resources/fonts/Nunito-Bold.ttf");
}

/* General Things */

a {
  cursor: pointer;
  text-decoration: none;
}


body {
  margin: 0px;
  font-family: Print Clearly;
}

button {
  font-family: Print Clearly;
  border: none;
  text-decoration: none;
  font-size: 33px;
  padding-top: 12px;
  padding-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

hr {
  margin: 0;
}

/* Header Stuff */

.header {
  display: flex;
  background-color: #003466;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header-logo {
  width: 150px;
  height: 50px;
}

#searchbar {
  font-family: 'Print Clearly';
  font-size: 25pt;
  width: 200px;
  border: none;
  margin-left: auto;
  margin-right: 60px;
  background-color: #003466;
  caret-color: white;
}

#searchbar::placeholder {
  color: white;
}

.account-block {
  text-align: center;
  background-image: url('./resources/triangle.png');
  background-position: center;
  background-size: cover;
}

#slogan {
  font-size: 80px;
  color: #C0CEDE;
  padding-top: 20px;
}

#you {
  font-size: 57px;
}

.header-title {
  color: #A8B4C2;
  font-size: 60px;
}

.emphasized-words {
  font-family: Nunito;
  color: #003466;
  font-size: 45px;
}

.primary-button {
  background-color: #003466;
  color: #E0E9F5;
  padding-right: 45px;
  padding-left: 45px;
}

.primary-button:hover {
  background-color: #002140;
}

.secondary-button {
  background-color: #E0E9F5;
  color: #003466;
  font-size: 33px;
  padding-right:30px;
  padding-left: 30px;
}

.secondary-button:hover {
  background-color: #E8EEF8;
}

#log-in-subheader {
  font-size-adjust: 15px;
  color: #003466;
}

#log-in {
  font-family: Nunito, bold;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 25px;
  background: none;
  border: none;
  padding-left: 0;
  color: #003466;
}

/* Log in pop-up */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  top: 50px;
  width: 100%;
  height: 100%;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}

.close:hover,
.close:focus {
    color: #003466;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    width: 58%;
    animation-name: animatetop;
    animation-duration: 0.6s;
    text-align: center;
    display: block;
    border: 5px solid #003466;
    margin: 5% auto;
}

.login-text {
  font-family: 'Print Clearly';
  font-size: 25pt;
  width: 400px;
  border: none;
  border: 2px solid #C0CEDE;
  display: block;
  margin: 0 auto;
  caret-color: #C0CEDE;
}

#searchbar, select, textarea {
  color: white;
}

#log-in-header {
  margin-top: 30px;
  margin-bottom: 20px;
}

#email-login, #password-login {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-left: 5px; 
}

.login-text::placeholder {
  color: #C0CEDE;
}

.login-text, select, textarea {
  color: #A8B4C2;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#log-in:visited {
  color: #003466;
}

/* Home Page stuff */

.home-info {
  display: flex;
  justify-content: center;
  background-color: #E9F2FF;
  padding-bottom: 20px;
  padding-top: 20px;
}

.answer-text {
  font-size: 25px;
  color: #003466;
  padding-left: 50px;
  width: 50%;
}

#info2 {
  padding-top: 0px;
}

#our-techniques {
  color: #C0CEDE;
  font-size: 75px;
  margin: 27px;
}

.cogsci-techniques {
  text-align: center;
}

slider {
  display: block;
  width: 100%;
  height: 70%;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute;
}

slider > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  animation: slide 12s infinite;
  overflow: hidden;
}

slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url('./resources/slideshow-img/spaced-rep.jpg');
  background-size: cover;
  background-position: center;
}

slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url('./resources/slideshow-img/self-exp.jpg');
  background-size: cover;
  background-position: center;
}

slide:nth-child(3) {
  animation-delay: 5s;
  background-image: url('./resources/slideshow-img/spaced-rep.jpg');
  background-size: cover;
  background-position: center;
}

slide:nth-child(4) {
  animation-delay: 8s;
  background-image: url('./resources/slideshow-img/self-exp.jpg');
  background-size: cover;
  background-position: center;
}

@keyframes slide {
  0% {left: 100%; width: 100%;}
  5% {left: 0%;}
  25% {left: 0%;}
  30% {left: -100%; width: 100%;}
  30.0001% {left: -100%; width: 0%;}
  100% {left: 100%; width: 0%;}
}

.learn-button { 
  padding-top: 515px;
  padding-bottom: 40px;
  text-align: center;
}

#start-learning {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 80px;
  padding-right: 80px;
}

/* Footer */

.footer {
  background-color: #C0CEDE;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #003466;
}

.footer-link {
  font-family: Nunito;
  font-size: 20px;
  text-align: center;
  font-color: #003466;
  padding-left: 17px;
  padding-right: 17px;
}

#footer-search {
  padding-right: 24px;
}

.footer-social img {
  width: 30px;
  height: 30px;
}

/* Create a Deck tools */

.create-deck {
  margin-top: 30px;
}

#deck-title {
  font-family: 'Print Clearly';
  font-size: 60pt;
  width: 100%;
  border: none;
  display: block;
  margin: 0 auto;
  caret-color: #C0CEDE;
  text-align: center;
  text-decoration: underline;
}

#deck-title::placeholder {
   color: #C0CEDE; 
}

#deck-title, select, textarea {
  color: #003466;
}

.small-caption {
  text-align: center;
  font-family: Nunito;
  color: #003466;
  font-size: 14px;
  margin: 0;
}

#deck-subtitle {
  color: #003466;
  font-size: 16px;
}

div.hr {
  background: #003466  no-repeat scroll center;
  width: 100%;
  height:5px;
}

.collaborators {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #E9F2FF;
} 

#collab {
  display: flex;
  justify-content: center;
}

#collab-button {
  background-color: #E9F2FF;
  padding: 0;
  font-family: Nunito, bold;
}

.flashcard {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  background-color: #E9F2FF;
}

.flashcard-number {
  font-size: 40px;
  padding-top: 50px;
  margin-right: 10px;
  color: #003466;
}

.flashcard-text {
  height: 200px;
  width: 400px;
  border: 4px solid #C0CEDE;
  text-decoration: none;
  font-family: Print Clearly;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
  resize: none;
}

.flashcard-text::placeholder {
  text-align: center;
  padding-top: 75px;
  font-size: 40px;
  color: #A8B4C2;
}

.switch-front-and-back {
  width: 45px;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 75px;
}

.side-menu {
  margin-top: 10px;
}

.side-options {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: 10px;
  margin-top: 10px;
}

.add-more-card {
  background-color: #E9F2FF;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#more-flashcard {
  background-color: #C0CEDE;
}

#more-flashcard:hover {
  background-color: #E0E9F5;
}

#finalize-deck {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Study */

#study-header {
  margin: 0;
  text-align: center;
  font-size: 75px;
  margin-bottom: 5px;
}

.study-menu {
  text-align: center;
  font-family: Print Clearly;
  color: #003466;
  font-size: 24px;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.study-nav {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  background-color: #E0E9F5; 
}

.flashcard-nav {
  display: flex;
  justify-content: center;
}

.deck-title {
  font-family: Print Clearly;
  font-size: 50px;
  text-align: center;
  color: #003466;
  margin-bottom: 10px;
}

.prev-and-next {
  width: 40px;
  height: 40px;
  padding-top: 45px;
  padding-right: 10px;
  padding-left: 10px;
}

.progress-bar {
  height: 15px;
  width: 200px;
  background-color: lightgray;
}

#card-progress {
  background-color: #003466;
  width: 1%;
}

#card-counter {
  font-family: Nunito, bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 3px;
}

.flashcard-area {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003466;
  padding-left: 70px;
}

#study-card {
  margin-top: 0;
  display: flex;
  margin-bottom: 10px;
}

.button-menu {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.analysis-button {
  font-size: 24px;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  width: 150px;
  align-items: center;
}

#very-hard {
  background-color: #C8412B;
}

#very-hard:hover {
  background-color: #963120;
}

#somewhat-hard {
  background-color: #E3A02F;
}

#somewhat-hard:hover {
  background-color: #AA7823;
}

#very-easy {
  background-color: #50BE5C;
}

#very-easy:hover {
  background-color: #3C8F45;
}

#flip-card {
  padding-top: 0;
}

.result-box {
  border-bottom: 5px solid #C0CEDE;
  font-family: Print Clearly;
  font-size: 28px;
  color: #003466;
  padding-left: 25px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.deck-text {
  margin: 4px;
}

#deck-name {
  font-family: Nunito Bold;
}

#big-search {
  font-size: 60px;
  color: #003466;
  text-decoration: none;
  border: none;
  font-family: Print Clearly;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 350px;
}

#big-search::placeholder {
  color: #003466;
}

.filter-button {
  background-color: #E0E9F5;
  color: #003466;
  border-radius: 0;
  font-size: 24px;
  padding-right: 8px;
  padding-left: 8px;  
}